* {
    box-sizing: border-box;
}
.box {
    width: 500px;
    height: 500px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    flex-wrap: wrap;
}

.square {
    width: 20px;
    height: 20px;
    background: #424242;
    margin: 2px;
    transition: 1s ease;
    box-shadow: 0 0 2px #000;
}

.square:hover {
    transition-duration: 0s;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;
    width: 50px;
    height: 30px;
}














